{% extends "base.html" %}

{% block style %}
<style>
h1 {
    font-family: 'Bagel Fat One', serif;
    font-size: 50px;
    text-align: center;
}
</style>
{% endblock %}

{% block head %}
<!-- Head -->
<head>
    <title>Healthy Weight Tracker</title>
</head>
{% endblock %}

{% block body %}
<body>
    <div class="flex-container">
        <h1>HWT</h1>  
        <div class="navbar-container">
            <p><a href="/">home</a></p>
            {% if not current_user %}
                <p><a href="/login">login</a></p>
            {% else %}
                <p>logout</p>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}